<p id="notice"><%= notice %></p>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <h2><%= project.title %></h2>
          <p><%= project.description %></p>
        </td>
        <td><%= link_to 'Deploy', '', class: 'pure-button button-success button-xlarge' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

